# Environment variables
.env
.env.local
.env.*.local

# Binary executables
*.exe
*.exe~
*.dll
*.so
*.dylib
tokogue-api
tokogue-api.exe

# Test binary, built with `go test -c`
*.test



# Temporary files
tmp/
temp/
*.tmp

# Log files
*.log
logs/
